.edit-result-form {
	display: flex;
	flex-direction: column;
	gap: var(--nsl-space-sm);
}

.edit-result-form__actions {
	display: flex;
	gap: var(--nsl-space-2xs);
	margin-top: var(--nsl-space-3xs);
}
